<div class="container">
    <h1>Lista de compras</h1>

    <form class="add-item-form" #frm="ngForm" (ngSubmit)="adicionarItem()">
      <input type="text" 
      id="item" 
      name="item"
      placeholder="Digite o nome do item" 
      [(ngModel)]="item">
      <button type="submit">Adicionar</button>
      <button type="button" (click)="limparLista()">Limpar lista</button>

    </form>

    <table>
      <thead>
        <tr>
        
          <th>#</th>
          <th>Item</th>
          <th></th>
        </tr>
      </thead>

      @for( elemento of lista; track elemento.id ){
        <tr>
        <td>{{ elemento.id }}</td>
        <td><span [ngClass]="{ 'item-riscado' : elemento.comprado }"> {{ elemento.nome }} </span> </td>
        <td><input type="checkbox" (click)="riscarItem(elemento)"  [checked]="elemento.comprado"></td>
      </tr>
      } @empty {
        <tr colpan="3">
          Nenhum item adicionado.
        </tr>
      }
      
      <!-- Tanto o @for quanto o ngFor fazem a mesma coisa -->

      

      <!-- <tr *ngFor="let elemento of lista">
      <td>{{ elemento.id }}</td>
      <td>{{ elemento.nome }}</td>
      <td><input type="checkbox"></td>
    </tr> -->

      <tbody>
        
      
      </tbody>

      
    </table>
</div>